@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap");

:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;

  --buttonColor: black;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

button:focus {
  outline: none;
}

#top-btn {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 15px;
  color: var(--secondaryColor);
  background-color: var(--themeDotBorder);
  cursor: pointer;
  z-index: 99;
  transition: all 0.2s;
}

#top-btn:hover {
  background-color: var(--borderColor);
  color: var(--secondaryText);
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;

  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 30em;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin: 0 5px 0 5px;
}

#navigation li a {
  transition: 0.5s color;
  color: var(--mainText);
}

#navigation li a:hover {
  color: #17a2b8;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot-1 {
  background-color: #fc6058;
}
#dot-2 {
  background-color: #fec02f;
}
#dot-3 {
  background-color: #2aca3e;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.left-column {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: left-column;
  padding: 50px 0 50px 0;
}

#profile-pic {
  display: block;
  margin: 0 auto;
  border: 2px solid var(--borderColor);
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding: 50px 0 50px 0;
}

.preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 150px;
  padding: 30px 0 0 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border: 1.5px solid #17a2b8;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}
#corner-tr {
  top: -5px;
  right: -5px;
}
#corner-bl {
  bottom: -5px;
  left: -5px;
}
#corner-br {
  bottom: -5px;
  right: -5px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 100px;
  padding: 50px 0 50px 0;
}

#skills {
  display: flex;
  background-color: var(--previewShadow);
  justify-content: space-evenly;
}

.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}

#social-img {
  width: 100%;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--borderColor);
  transition: 0.2s ease-in-out all;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.project:hover {
  transform: scale(1.05);
}

#thumbnail {
  display: block;
  width: 100%;
  height: 180px;
}

.project-preview {
  background-color: #fff;
  padding: 15px;
}

.project-preview h6 {
  margin: 0;
}

.project-preview p {
  color: #4b5156;
  font-size: 14px;
}

.project-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#project-btn {
  display: flex;
  width: 5rem;
  height: 1.5rem;
  color: var(--mainColor);
  background-color: var(--secondaryText);
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s color background-color;
}

#project-btn i {
  padding-right: 10px;
}

#project-btn:hover {
  color: var(--secondaryText);
  background-color: var(--secondaryColor);
}

#more-btn {
  font-size: 1rem;
  margin: 30px 0 10px 0;
  color: var(--secondaryText);
  border: none;
  background-color: inherit;
  transition: all 0.2s ease-in-out;
}

#more-btn:hover {
  font-size: 1.3rem;
  color: var(--buttonColor);
  cursor: pointer;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#input-field {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  border: 1px solid var(--borderColor);
  background-color: var(--secondaryColor);
  border-radius: 5px;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

#submit-btn {
  width: 100%;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
  padding: 10px 0;
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  .right-column {
    justify-content: center;
  }
}
